* {
	margin: 0;
	padding: 0;
}

body
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

input[type=text] {
    height: 25px;
    padding: 0 10px;
    width: 300px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div#pokedex
{
	width: 750px;
	margin: 50px auto 0 auto;
}

div#left
{
	width: 400px;
	height: 500px;
	float: left;
	position: relative;
	z-index: 1;
}

div#right
{
	width: 350px;
	height: 500px;
	float: left;
	position: relative;
}



/* LEFT PART */

div#curve1_left
{
	width: 201px;
	height: 85px;
	background-color: #8b0000;
	float: left;
	padding: 15px 0 0 15px;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom-right-radius: 85px 60px;
	border-top-left-radius: 30px;
}


div#bg_curve1_left
{
	width: 400px;
	height: 80px;
	background-color: #8b0000;
	border-top-left-radius: 30px;
}

div#curve2_left
{
	width: 216px;
	height: 451px;
	background-color: #c00d0d;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-left-radius:85px 60px;
}

div#bg_curve2_left
{
	width: 400px;
	height: 420px;
	background-color: #c00d0d;
	border-bottom-left-radius: 30px;
}

div#buttonGlass
{
	width: 60px;
	height: 60px;
	margin-right: 15px;
	border: 5px solid #fff;
	float: left;
	background: radial-gradient(#05fbfb, #29abe3);
	border-radius: 35px;
}

div#miniButtonGlass1
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: left;
	border-radius: 20px;
	background: radial-gradient(#fb7b7b, #fb0505);
}

div#miniButtonGlass2
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: left;
	border-radius: 20px;
	background: radial-gradient(#fbfb9b, #fbfb05);
}

div#miniButtonGlass3
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: left;
	border-radius: 20px;
	background: radial-gradient(#b0fb7b, #50fb05);
}

div#junction
{
	width: 60px;
	height: 451px;
	float: right;
	background-color: #8b0000;
}

div#junction1
{
	height: 40px;
	background-color: #5e0000;
	opacity: 0.3;
	margin-top: 50px;
	margin-bottom: 262px;
	border-top: 2px solid #330000;
	border-bottom: 2px solid #330000;
}

div#junction2
{
	height: 40px;
	background-color: #5e0000;
	opacity: 0.3;
	border-top: 2px solid #330000;
	border-bottom: 2px solid #330000;
}

div#screen
{
	height: 245px;
	width: 260px;
	padding: 0 20px;
	background-color: #b0b0b0;
	float:left;
	position: absolute;
	top: 130px;
	left: 19px;
	border-radius: 15px;
}

div#screen:after
{
	content: "";
	border-top: 40px solid #b0b0b0;
	border-left: 40px solid #c00d0d;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

div#picture
{
	height: 175px;
	width: 254px;
	margin-top: 20px;
	margin-bottom: 9px;
	background-color: #fff;
	border: 3px solid #494949;
	clear: both;
	border-radius: 15px;
  background-size: 254px 175px;
  background-repeat: no-repeat;
}

div#topPicture
{
	margin: 6px auto;
	width: 40px;
}

div#buttontopPicture1, div#buttontopPicture2
{
	height: 8px;
	width: 8px;
	background-color: #c00d0d;
	border: 1px solid #000;
	float: left;
	border-radius: 15px;
}

div#buttontopPicture1
{
	margin-right: 20px;
}

div#buttonbottomPicture
{
	height: 26px;
	width: 26px;
	background-color: #c00d0d;
	margin-left: 35px;
	float: left;
	border-radius: 30px;
	background: linear-gradient(top, #c00d0d 0%, #8b0000 80%);
}

div#speakers
{
	float: right;
	width: 75px;
	height: 25px;
	margin-right: 20px;
}

div.sp
{
	height: 3px;
	margin-bottom: 5px;
	background-color: #494949;
	border-radius: 30px;
}

div#bigbluebutton
{
	height: 50px;
	width: 50px;
	background-color: #000;
	position: absolute;
	top: 395px;
	left: 30px;
	border-radius: 100px;
	background: linear-gradient(top, #307bfb 0%, #0530e5 80%);
}

div#barbutton1
{
	height: 13px;
	width: 50px;
	position: absolute;
	top: 405px;
	left: 100px;
	border-radius: 100px;
	background-color: #057b05;
}

div#barbutton2
{
	height: 13px;
	width: 50px;
	position: absolute;
	top: 405px;
	left: 165px;
	border-radius: 100px;
	background-color: #991616;
}

div#cross
{
	width: 90px;
	height: 90px;
	position: absolute;
	top: 394px;
	left: 230px;
}

div#topcross
{
	width: 30px;
	height: 30px;
	background-color: #222;
	position: absolute;
	top: 0;
	left: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div#leftcross
{
	width: 30px;
	height: 30px;
	background-color: #222;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#midcross
{
	width: 30px;
	height: 30px;
	background-color: #222;
	position: absolute;
	top: 30px;
	left: 30px;
}

div#rightcross
{
	width: 30px;
	height: 30px;
	background-color: #222;
	position: absolute;
	top: 30px;
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div#botcross
{
	width: 30px;
	height: 30px;
	background-color: #222;
	position: absolute;
	bottom: 0;
	left: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

div#upT
{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #111;
	position: absolute;
	top: 5px;
	left: 4px;
}

div#downT
{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #111;
	position: absolute;
	bottom: 5px;
	left: 4px;
}

div#leftT
{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #111;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 5px;
	left: 4px;
}

div#rightT
{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid #111;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 5px;
	right: 5px;
}

div#midCircle
{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 30px;
	background: radial-gradient(#111, #222);
}



/* RIGHT PART */

div#curve1_right
{
	width: 166px;
	height: 451px;
	background-color: #c00d0d;
	float: right;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top-right-radius:85px 60px;
}


div#bg_curve1_right
{
	width: 350px;
	height: 80px;
	background-color: #fff;
	border-top-right-radius: 30px;
}

div#curve2_right
{
	width: 216px;
	height: 100px;
	background-color: #fff;
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 85px 60px;
}

div#bg_curve2_right
{
	width: 350px;
	height: 420px;
	background-color: #c00d0d;
	border-bottom-right-radius: 30px;
}

div#stats
{
	height: 130px;
	width: 280px;
	padding: 10px;
	background-color: #30da0c;
	z-index: 1;
	font-size: 13px;
	position: absolute;
	top: 130px;
	left: 25px;
	border-radius: 15px;
}

div#blueButtons1
{
	z-index: 1;
	position: absolute;
	top: 295px;
	left: 49px;
}

div#blueButtons2
{
	z-index: 1;
	position: absolute;
	top: 335px;
	left: 49px;
}

div.blueButton
{
	height: 35px;
	width : 45px;
	background-color: #001c91;
	float: left;
	margin-right: 7px;
	border-radius: 10px;
}

div#barbutton3
{
	height: 13px;
	width: 50px;
	z-index: 1;
	position: absolute;
	top: 385px;
	left: 210px;
	border-radius: 100px;
	background-color: #057b05;
}

div#barbutton4
{
	height: 13px;
	width: 50px;
	z-index: 1;
	position: absolute;
	top: 385px;
	left: 270px;
	border-radius: 100px;
	background-color: #991616;
}

div#miniButtonGlass4
{
	width: 15px;
	height: 15px;
	float: left;
	z-index: 1;
	position: absolute;
	top: 383px;
	left: 25px;
	border-radius: 20px;
	background: radial-gradient(#ff9b5b, #fb6505);
}

div#miniButtonGlass5
{
	width: 15px;
	height: 15px;
	float: left;
	z-index: 1;
	position: absolute;
	top: 383px;
	left: 51px;
	border-radius: 20px;
	background: radial-gradient(#0abd0a, #057b05);
}

div#greenBox1
{
	width: 140px;
	height: 70px;
	z-index: 1;
	background-color: #00551a;
	position: absolute;
	top: 415px;
	left: 25px;
	border-radius: 15px;
}

div#greenBox2
{
	width: 140px;
	height: 70px;
	z-index: 1;
	background-color: #00551a;
	position: absolute;
	top: 415px;
	left: 185px;
	border-radius: 15px;
}


@media handheld and (orientation:portrait), (max-width:768px) {

  form {
    display: none;
  }

  div#pokedex
  {
  	width: 400px;
  }

  div#left
  {
  	width: 400px;
  	height: 500px;
  	float: left;
  	position: relative;
  	z-index: 1;
  	margin: 0 auto;
  }

  div#curve1_left
  {
  	width: 201px;
  	height: 85px;
  	background-color: #8b0000;
  	float: left;
  	padding: 15px 0 0 15px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	border-bottom-right-radius: 85px 60px;
  	border-top-left-radius: 30px;
  }

  div#bg_curve1_left
  {
  	width: 400px;
  	height: 80px;
  	background-color: #8b0000;
  	border-top-left-radius: 30px;
  }

  div#right, div#screen, div#bigbluebutton, div#barbutton1, div#barbutton2, div#cross
  {
  	display: none;
  }
}
